---
Language:        Cpp
BasedOnStyle:  Google
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: true
AlwaysBreakAfterDefinitionReturnType: false
AlwaysBreakTemplateDeclarations: true
BreakConstructorInitializersBeforeComma: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
# Do not adapt pointer and reference alignment to the current style.
# Just use PointerAlignment parameter unconditionally for consistency.
DerivePointerAlignment: false
Standard:        c++17
SpacesInParentheses: false
SpacesInAngles:  false
SpaceInEmptyParentheses: false
SpacesInCStyleCastParentheses: false
SortIncludes:   true
